/* Navbar Styles */

body {
  margin-top: 50px; /* Adjust based on navbar height */
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #010154;
  padding: 10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

  
  .navbar h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 0;
    /* padding: 0; */
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #8b8bf9;
  }
  
  /* Responsive Navbar */
  @media (max-width: 1000px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .navbar ul li a {
      font-size: 1rem;
    }
  }
  